<ion-header [translucent]="true">
    <ion-title>

    </ion-title>
</ion-header>

<ion-content class="ion-padding ion-text-center" [fullscreen]="true">

<br>
<br>
<br>
<br>
<br>
<br>
<ion-input label="Email" label-placement="floating" fill="outline" placeholder="Email@gmail.com"></ion-input>
<br>
<ion-input label="Password" label-placement="floating" fill="outline" placeholder="Password"></ion-input>
<br>
<ion-input label="Confirm Password" label-placement="floating" fill="outline" placeholder="Confirm Password"></ion-input>
<br>
<ion-input label="Phone" label-placement="floating" fill="outline" placeholder="Phone"></ion-input>
<br>
<br>
<a routerLink="/akkaraphon">
<ion-button size="large" color="purple1">Create na account</ion-button>
</a>



</ion-content>
