<ion-header [translucent]="true">
  <ion-toolbar color="grey1">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" [fullscreen]="true" color="grey1">


<img src="../../assets/img/abstract-user-flat-4.png" width="210">

<br>
<br>
<ion-input label="Email" label-placement="floating" fill="outline" placeholder="Tan******op@gmail.com"></ion-input>
<br>
<ion-input label="Password" label-placement="floating" fill="outline" placeholder="Password"></ion-input>
<br>
<br>

<a routerLink="/for-shop-owners">
<ion-button size="large" color="purple1">
  Sing in
</ion-button>
</a>
<br>
<a routerLink="/create-a-new-account">
<ion-button fill="clear">Create a new account</ion-button>
</a>


</ion-content>
