<ion-header [translucent]="true">
  <ion-toolbar color="yellow1">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>สำหรับเจ้าของร้าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" [fullscreen]="true">


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a routerLink="/product-inventory">
<ion-button color="yellow2" size="large" shape="round">จัดการสต๊อกสินค้า</ion-button>
</a>
<br>
<br>
<br>
<a routerLink="/product-price">
<ion-button color="yellow2" size="large" shape="round">จัดการราคาสินค้า</ion-button>
</a>

</ion-content>
