<ion-header [translucent]="true">
  <ion-toolbar color="yellow1">
    <ion-title>ร้านอัครพร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" [fullscreen]="true">

  <img src="../../assets/img/logo.png" style="height: 300px; width: 290px;">
  
<br>
<br>
<a routerLink="/akkaraphon">
<ion-button color="yellow2" size="large" shape="round">สำหรับเจ้าของร้าน</ion-button>
</a>
<br>
<br>
<a routerLink="/for-customers">
<ion-button color="yellow2" size="large" shape="round">สำหรับลูกค้า</ion-button>
</a>


</ion-content>
